doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title FleXGH Documentation
    link(rel="icon" type="image/x-icon" href="assets/Horse.png")
    link(rel='stylesheet' href='css/flexgh.css')
  body.col
    header.col.wrap.bg-dark
      nav.row.white.center
        a.row._1.start(href='#')
          img.wrap.py-0(src='assets/Horse.png' height='25')
          strong.danger fleXGH
        ul.md.row._10.center
          each val in ['install', 'docs', 'author', 'contact']
            li.bl.stretch
              a.Txt(href='#')=val