---
---
//imports
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');

//setups
$I: !important;
$transition: .3s ease;
$desktop: 'min-width: 520px';
$crossplat: '', '-moz-', '-webkit-';
$colors: 
  'success' '#DCEDC1', 
  'info' '#A8E6CF', 
  'warning' '#FFD3B6', 
  'danger' '#FFAAA5', 
  'blank' '#eee',
  'dark' '#333';
$info: #{nth(#{nth($colors, 2), 2);

//mixins
@mixin cross($prop, $val) {
  @each $plataform in $crossplat {
   #{$plataform}#{$prop}: #{$val} #{$I};
  }      
}

// globals
body * {
  @include cross('display', 'flex');
  margin: 0 $I;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #333;
  background: #fefefe;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: normal;
}

a {
  color: $info $I;
}

ul, ol {
  list-style: none;
}

//utilities

@each $c in $colors {
  .#{nth($c, 1)} {
    color: darken(#{nth($c, 2)}, 25) $I;
    border-color: #{nth($c, 2)} $I;
  }
  a.#{nth($c, 1)}:hover {
    color: darken(#{nth($c, 2)}, 50) $I;
  }
  .bg-#{nth($c, 1)} {
    background-color: #{nth($c, 2)} $I;
  }
}

.strong {
  font-weight: 700;
}

.muted {
  opacity: .5 $I;
}

.wrap {
  padding: .5rem $I;
}

hr {
  border: 0;
  border-bottom: 1px solid #dbdbdb;
}

.flex-col, .flex-row {
  @for $i from 0 through 10 {
        .size-#{$i} {
            flex: #{$i} 1 auto $I;
        }
    }
  .center {
    justify-content: space-around $I;
  }
  .start {
    justify-content: flex-start $I;
  }
  .end {
    justify-content: flex-end $I;
  }
}

.flex-col {
  flex-direction: column $I;
  margin: 1rem 0 $I;
}

.flex-row {
  flex-direction: row $I;
  padding: 0 1rem $I;
}

.onlysmall {
  display: inherit $I;
  @media only screen and ($desktop) {
  display: none $I;
  }
}

.onlylarge {
  display: none $I;
  @media only screen and ($desktop) {
  display: inherit $I;
  }
}

// spacing
$list: 'p' 'padding', 'm' 'margin';

@each $prop in $list {
    @for $i from 0 through 10 {
        //top
        .#{nth($prop, 1)}t-#{$i} {
            #{nth($prop, 2)}-top: #{$i}rem $I;
        }
        //bottom
        .#{nth($prop, 1)}b-#{$i} {
            #{nth($prop, 2)}-bottom: #{$i}rem $I;
        }
        //left
        .#{nth($prop, 1)}l-#{$i} {
            #{nth($prop, 2)}-left: #{$i}rem $I;
        }
        //right
        .#{nth($prop, 1)}r-#{$i} {
            #{nth($prop, 2)}-right: #{$i}rem $I;
        }
        // x-axis
        .#{nth($prop, 1)}x-#{$i} {
            #{nth($prop, 2)}-left: #{$i}rem $I;
            #{nth($prop, 2)}-right: #{$i}rem $I;
        }
        // y-axis
        .#{nth($prop, 1)}y-#{$i} {
            #{nth($prop, 2)}-top: #{$i}rem $I;
            #{nth($prop, 2)}-bottom: #{$i}rem $I;
        }
        // all!
        .#{nth($prop, 1)}-#{$i} {
            #{nth($prop, 2)}: #{$i}rem $I;
        }
    }    
}

//end