doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title FleXGH Documentation
    link(rel="icon" type="image/x-icon" href="assets/Horse.png")
    link(rel='stylesheet' href='css/flexgh.css')
  body.col
    header.col.wrap.bg-dark
      nav.small.row.ghost.center
        a.row.strong.size-1.start(href='#')
          img(src='assets/Horse.png' height='25')
          strong.danger fleXGH
        ul.medium.row.size-10.center
          each val in ['Install', 'Docs', 'Author', 'Contact']
            li.bl.stretch
              a(href='#')=val
    section.hidesmall.row.bg-danger.p-5.center
      h1 FleXGH Documentation
    section.small.row
      aside.col.size-1.end.danger.br
        nav.row
          ul.col
            each val in ['intro', 'position', 'space', 'grid', 'list', 'text', 'color', 'borders', 'links', 'header', 'responsive']
              -var link = '#' + val;
              li.stretch
                a(href=link)=val
      article.col.size-10
        section#intro.col
          header.col.bb.pb-1
            sumary.row Intro
            detail.row.muted Flex everything!
          main.row
            p paragraph
          footer.row
            img(src='assets/Horse.png')
    section
    footer.col.center
      nav
        small.bg-dark.ghost.wrap flexgh - going :horse: on flex-box