doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title FleXGH Documentation
    link(href='css/flexgh.css' rel='stylesheet')
  body.col
    header.col.wrap.bg-dark
      nav.row.ghost.center
        a.row.strong.size-1.start(href='#')
          strong.danger FleXGH
        ul.row.size-10.center
          each val in ['Install', 'Docs', 'Author', 'Contact']
            li
              a(href='#')=val
    section.row.bg-danger.p-5.center
      h1 FleXGH Documentation
    section.row
      aside.col.size-1.end.danger
        nav.row
          ul.col
            each val in ['intro', 'position', 'space', 'grid', 'list', 'text', 'color', 'links', 'header', 'responsive']
              -var link = '#' + val;
              li
                a(href=link)=val
      article.col.size-10
        section#intro
          header.col
            sumary.row Intro
            detail.row.muted Flex everything!
          main
          footer
    section
    footer.col.center
      nav
        small.bg-dark.ghost.wrap flexgh - going horse on flex-box